<h1><%= @post.title %></h1>

<p><%= @post.body %></p>
<h4>Posted By: <%=link_to @user.username, user_path(@user)%></h4>
<%if user_signed_in? && @user==current_user%>
<h4> <%= link_to "Edit", edit_user_post_path(@user, @post) %>  
<%= link_to "Delete", user_post_path(@user, @post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<%end%>
</h4>


<h3>Comments</h3>
<%= render @post.comments %>

<h3>Add a comment:</h3>
<%= render "comments/form", post: @post, user: @user%>